@import "~src/assets/scss/dialog.scss";
:host {
}

.dialog {
    &__body {
        .donor-info {
            margin: 0.5rem 0rem;
            display: grid;
            grid-template-columns: 140px 1fr;
            &__lable {
                font-weight: bold !important;
            }
        }
        
        .donor-barcode {
            padding: 2rem 0rem;
            margin: 2rem 0rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .barcode-data {
                min-width: 200px;
                border-radius: 8px;
                border: 1px dashed #000;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                padding: 1rem 0rem;
            }
        }
    }
}
