<div class="wrapper">
  <div class="wrapper__header">
    <h1 class="main-title">Queue</h1>
    <p>List of ticketing</p>
  </div>
  <ng-container *ngIf="loading">
    <app-loader></app-loader>
  </ng-container>
  <ng-container *ngIf="!loading">
    <div class="tabelContainer">
      <table class="table">
        <thead>
          <tr>
            <th>Ticket Id</th>
            <th>Action</th>
            <th>Progress</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let data of mockData
                | paginate
                  : {
                      itemsPerPage: 10,
                      currentPage: page,
                      totalItems: totalItems
                    };
              let i = index
            "
            style="cursor: pointer"
          >
            <td>{{ i + 1 }}</td>
            <td>
              <app-action-button
                [title]="data.action"
                [className]="data.action"
              ></app-action-button>
            </td>
            <td>
              <ng-container *ngIf="data.progress === 'Done'">
                <app-status-tag
                  [className]="'done'"
                  [name]="'Done'"
                ></app-status-tag>
              </ng-container>
              <ng-container *ngIf="data.progress === 'Pending'">
                <app-status-tag
                  [className]="'pending'"
                  [name]="'Pending'"
                ></app-status-tag>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls
      [previousLabel]="'Preview' | translate"
      [nextLabel]="'Next' | translate"
      (pageChange)="getPage($event)"
    >
    </pagination-controls>
  </ng-container>
</div>
