<div class="wrapper">
  <div class="wrapper__header">
    <h1 class="main-title">Campaigns</h1>
    <p>List of the online & upcoming campaigns</p>
  </div>
  <ng-container *ngIf="loading">
    <app-loader></app-loader>
  </ng-container>
  <ng-container *ngIf="!loading">
    <div class="tabelContainer">
      <table class="table" >
        <thead>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Organizer</th>
            <th>Phone</th>
            <th>Date</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let data of mockData
                | paginate
                  : {
                      itemsPerPage: 10,
                      currentPage: page,
                      totalItems: totalItems
                    };
              let i = index
            "
            style="cursor: pointer"
          >
            <td>{{ i + 1 }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.organizer }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.date }}</td>
            <td>{{ data.description | slice: 0:50 }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls
      [previousLabel]="'Preview' | translate"
      [nextLabel]="'Next' | translate"
      (pageChange)="getPage($event)"
    >
    </pagination-controls>
  </ng-container>
</div>
